[submodule "Nemesis/vendor/spdlog"]
	path = Nemesis/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nemesis/vendor/GLFW"]
	path = Nemesis/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "vendor/gtest"]
	path = vendor/gtest
	url = https://github.com/google/googletest.git
[submodule "Nemesis/vendor/imgui"]
	path = Nemesis/vendor/imgui
	url = https://github.com/TheCherno/imgui
